# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
myenv/
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env

# Data files
*.csv
.attached_assets/

# Streamlit config
.streamlit/

# Matplotlib config
.config/

# Lock files
*.lock