# Dependencies for YouTube Sentiment Analysis App
# Note: This is for reference only. Use the package manager to install these.

google-api-python-client>=2.169.0
matplotlib>=3.10.3
nltk>=3.9.1
numpy>=1.21.0
pandas>=2.2.3
pillow>=9.0.0
plotly>=6.1.0
requests>=2.32.3
tensorflow-cpu==2.10.0
streamlit>=1.25.0
wordcloud>=1.9.4


